<div class="flex flex-col items-center justify-center h-full">
  <h1 class="bg-white mt-10 py-px px-2 -mx-2 uppercase font-bold text-2xl">Forgot your password?</h1>


<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<%= form_with url: passwords_path, :builder => TailwindAuthentication do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  <%= form.submit "Email reset instructions" %>
<% end %>
</div>